
@{
}
<div class="modal fade" id="manageClientSecret" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--header-->
            <div class="modal-header">
                <h4>Manage Client Secret</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- body-->
            <div class="modal-body">
               
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="secretName" aria-describedby="emailHelp" placeholder="Enter Secret Name*">
                        <small id="emailHelp" class="form-text text-muted">Please note down the secret name because once saved will not be able to view.</small>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="secrettextArea" rows="3" placeholder="Enter Secret Description"></textarea>
                    </div>

                </form>
            </div>

            <!--footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>

        </div>
    </div>
</div>
