@model GetApiScopeModel
@{

}

<div id="manageApiScope" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--header-->
            <div class="modal-header">
                @if (Model.Id > 0)
                {
                    <h4>Edit Api Scope</h4>
                }
                else
                {
                    <h4>Add Api Scope</h4>
                }

                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>

            <!--body-->
            <div class="modal-body">
                <form id="ManageApiScope" action="AddRedirectUrl">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label for="NameControlInput">Name</label>
                        <input type="text" class="form-control" id="NameControlInput" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <label for="DisplayNameControlInput">Display Name</label>
                        <input type="text" class="form-control" id="DisplayNameControlInput" asp-for="DisplayName">
                    </div>
                    <label for="descriptionControlTextarea1">Description</label>
                    <textarea class="form-control" id="descriptionControlTextarea1" rows="3" asp-for="Description"></textarea>
                </form>
            </div>

            <!--footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="custom-modal">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var placeHolderElement = $('#modal-placeholder');

        //call api on save
        placeHolderElement.on('click', '[data-save="custom-modal"]', function (event) {
            event.preventDefault();
            debugger;

            var FormSelector = '';
            var myFormSelector = '';
            //find if the id is present
            if ($(this).parents('.modal').find('form[id="ManageApiScope"]').length > 0) {
                FormSelector = 'form[id="ManageApiScope"]';
                myFormSelector = "form#ManageApiScope";
            }

            var form = $(this).parents('.modal').find(FormSelector);
            var myform = $(myFormSelector)[0];
            var actionUrl = form.attr('action');

            var fd = new FormData(myform);

            $.ajax({
                type: "POST",
                enctype: "multipart/form-data",
                url: actionUrl,
                data: fd,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    var newBody = $('.modal-body', data);
                    placeHolderElement.find('.modal-body').replaceWith(newBody);

                    var isValid = newBody.find('[name="IsValid"]').val() == 'True';

                    if (isValid) {
                        placeHolderElement.find('.modal').modal('hide');
                        //then reload the main page to get refeshed data
                        location.reload();
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
    });
</script>
