<div class="row">
    <div class="col-md-12">
        <h1>Logout</h1>
        <p>Do you wish to logout from the Application ?</p>
    </div>
</div>

<div>
    <form asp-action="Logout">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>