@model PostRegisterViewModel
@{
    ViewData["Title"] = "Post Registration";
}
<div class="row">
    <div class="col-md-8">
        <p>Thank you @Model.UserName for Registering for the Vendor Menu App. The vendor @Model.VendorName will Verify the Detials and will intimate once its done.</p>
    </div>
</div>
