@model VendorRegisterViewModel;
@{
    ViewData["Title"] = "Vendor Register";
}

<div class="row">
    <h1>Vendor Registration Form</h1>

    <form asp-controller="Authentication" asp-action="RegisterAsVendor" autocomplete="off">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="row mb-4">
            <div class="form-outline">
                <input type="text" id="registerFirstName" class="form-control" asp-for="Username" />
                <label class="form-label" for="formUsername">Username</label>
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-outline">
                <input type="password" id="registerPassword" class="form-control" asp-for="Password" />
                <label class="form-label" for="formPassword">Password</label>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-outline">
                <input type="password" id="registerConfirmPassword" class="form-control" asp-for="ConfirmPassword" />
                <label class="form-label" for="formConfirmPassword">ConfirmPassword</label>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-outline">
                <input type="email" id="registerEmail" class="form-control" asp-for="Email" />
                <label class="form-label" for="formEmail">Email</label>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-outline">
                <input type="text" id="registerAddress" class="form-control" asp-for="Address" />
                <label class="form-label" for="formEmail">Address</label>
            </div>
        </div>
        <div class="row mb-4">
            <select id="stateId" asp-for="StateId" asp-items="@Model.States" class="form-select" aria-label="Default select states">
                <option selected>Select State</option>
            </select>
        </div>
        <div class="row mb-4">
            <select id="citySelectId" asp-for="CityId" asp-items="@Model.Cities" class="form-select" aria-label="Default select cities">
                <option selected>Select City</option>
            </select>
        </div>
        <div class="row mb-4">
            <div class="form-group">
                <select id="areaSelectId" asp-for="AreaId" asp-items="@Model.Areas" class="form-select" aria-label="Default select areas">
                    <option value="">Select Area</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-outline">
                <input type="text" id="registerFirstName" class="form-control" asp-for="VendorName" />
                <label class="form-label" for="formUsername">Vendor Name</label>
                <span class="text-danger" asp-validation-for="VendorName"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-outline">
                <<textarea class="form-control" id="vendorDescription" rows="4"></textarea>
                <label class="form-label" for="textAreaExample">Vendor Description 1</label>
                <span class="text-danger" asp-validation-for="VendorDescription"></span>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

        <div class="text-center">
            <p>Already a member? <a asp-controller="Authentication" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></p>
        </div>
    </form>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#stateId").change(function () {
                //debugger;

                var stateId = $('#stateId').val();
                var url = "/api/utility/getCityByStateId?stateId=" + stateId;
                //Make a ajax call to controller here
                $.ajax({
                    type: 'Get',
                    url: url,
                    success: function (response) {
                        debugger;
                        //console.log(response);
                        //remove previous selected option
                        $("#citySelectId").empty().append('<option selected="selected" value="">Select City</option>');
                        $("#areaSelectId").empty().append('<option selected="selected" value="">Select Area</option>');

                        $.each(response, function (data, value) {
                            $('#citySelectId').append($("<option></option>").val(value.value).html(value.label));
                        });
                    },
                    error: function (err) {
                        alert("Something went wrong with State API, please try again");
                    }
                });
            });

            $("#citySelectId").change(function () {
                //debugger;

                var cityId = $('#citySelectId').val();
                var url = "/api/utility/getAreaByCityId?cityId=" + cityId;
                //Make a ajax call to controller here
                $.ajax({
                    type: 'Get',
                    url: url,
                    success: function (response) {
                        //debugger;
                        //console.log(response);
                        //remove previous selected option
                        $("#areaSelectId").empty().append('<option selected="selected" value="">Select Area</option>');

                        $.each(response, function (data, value) {
                            $('#areaSelectId').append($("<option></option>").val(value.value).html(value.label));
                        });
                    },
                    error: function (err) {
                        alert("Something went wrong with City API, please try again");
                    }
                });
            });
        })
    </script>
}