@model RegisterAdminResponse
@{
    ViewData["Title"] = "Register Admin";
}
<div class="row">
    <h2>Registration Form</h2>
    <div class="col-md-8">
        <form asp-controller="Authentication" asp-action="RegisterAsAdmin" autocomplete="off">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="row mb-4">
                <div class="form-outline">
                    <input type="text" id="registerFirstName" class="form-control" asp-for="Username" />
                    <label class="form-label" for="formUsername">Username</label>
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-outline">
                    <input type="password" id="registerPassword" class="form-control" asp-for="Password" />
                    <label class="form-label" for="formPassword">Password</label>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-outline">
                    <input type="password" id="registerConfirmPassword" class="form-control" asp-for="ConfirmPassword" />
                    <label class="form-label" for="formConfirmPassword">ConfirmPassword</label>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-outline">
                    <input type="email" id="registerEmail" class="form-control" asp-for="Email" />
                    <label class="form-label" for="formEmail">Email</label>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

            <div class="text-center">
                <p>Already a member? <a asp-controller="Authentication" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></p>
            </div>
        </form>
    </div>
</div>
