@{
    Layout = "_LoginLayout";
    var user = User?.Identity.Name;

    TempData["PreviousUrl"] = TempData["CurrentUrl"];
    TempData["CurrentUrl"] = Url.Action("AccessDenied", "Authorization");
    var backurl = TempData["PreviousUrl"].ToString();
}
<div class="mt-3">
    <h3>@user you do not have access to view this page. Please contact your administrator to grant you access. </h3>
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Content(backurl)' " id="btnBack">Back</button>
</div>
@*@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnBack').click(function () {
                //alert('button clicked');
                debugger;
                //var ReturnUrl = '@ViewBag.ReturnUrl';
                var ReturnUrl = '@Url.Action("HomeDashboard","Home")';

                $.ajax({
                    type: 'GET',
                    url: ReturnUrl,
                    success: function (data) { },
                    error: function (err) {
                        alert(err);
                    }
                });
            });
        });
    </script>
}*@