@{
    Layout = "_LoginLayout";

    var user = User?.Identity.Name;
    TempData["PreviousUrl"] = Url.Action("Login","Authorization");
    TempData["CurrentUrl"] = Url.Action("Index", "HomeDashboard");

    ViewData["Title"] = "Dashboard";
}

<div class="welcome-message">
    <div class="card mt-3">
        <div class="card-title">
            <h4>Welcome back @user </h4>
        </div>
        <div class="card-body">
            <div class="form-outline">
                <input type="text"  class="form-control" />
                <label class="form-label" for="formControlDefault">Form control default</label>
            </div>
        </div>
    </div>
    

    
</div>
